@import "./null-style.css";

.main-banner {
  background-color: #fed100;
}
.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 10px;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}
.header__menu {
  display: flex;
  gap: 2rem;
}
.header__contacts {
  white-space: nowrap;
}

.content {
  display: flex;
}
.content__column {
  flex: 1 1 50%;
}
.content__column:last-child {
  display: flex;
  justify-content: center;
}
.content__button {
  width: 200px;
  padding: 1rem 0;
  text-align: center;
  border: 1px solid #000;
  margin: 0 0 100px 0;
}
.content__pluses {
  display: flex;
}
.content__plus {
  display: flex;
  align-items: center;
  margin: 0 2rem 0 0;
}
.content__plus:last-child {
  margin: 0;
}
.plus__text {
  max-width: 120px;
  margin: 0 0 0 1rem;
}
.plus__image {
  width: 40px;
  height: 40px;
  flex: 0 0 40px;
}
.plus__image img {
  width: 100%;
  height: 100%;
}
.content__image {
  max-width: 250px;
  max-height: 600px;
}
.content__image img {
  width: 100%;
  height: 100%;
}

@media (max-width: 800px) {
  .content {
    display: block;
  }
}

@media (max-width: 600px) {
  .header__menu {
    display: none;
  }
}
@media (max-width: 520px) {
  .content__pluses {
    display: block;
  }
  .content__plus {
    display: flex;
    align-items: center;
    margin: 0 0 2rem 0;
  }
}
